@model IEnumerable<taskhaithem.Models.product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productpic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productdescription)
        </td>
        <td>
            <img width="50" style="align-items:center;" src="/imges/@Html.DisplayFor(modelItem => item.productpic)">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
