@model taskApi13_2_2023.Models.Faculty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.facultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facultyimg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultyimg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facultydesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultydesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.faculty_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
