@model IEnumerable<task3_2_2_2023.Models.information>

@{
    ViewBag.Title = "Index";
}

<h2>INFORMATION</h2>

<p>
    @Html.ActionLink("Create New", "Create")




    @using (Html.BeginForm())

    {
        <b>Search option : </b>@Html.RadioButton("SEARCH", "FNAME") <text>  Fname     </text>

        @Html.RadioButton("SEARCH", "LNAME") <text>  Lname     </text>

        @Html.RadioButton("SEARCH", "Email") <text>  Email    </text>





        @Html.TextBox("FNAME");

        <input type="submit" name="SEARCH" value="search" />

    }


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_title)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cv)
        </th>

        <th></th>


    </tr>

    @foreach (var item in Model)
    {
      
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Gender)*@




                <div>
                    @if (item.Gender == null)
                    {
                        <span>Not specified</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.GenderDisplay)
                    }
                </div>









            </td>
            <td>

            <img width="50" style="align-items:center;" src="/img/@Html.DisplayFor(modelItem => item.img)" >
            </td>
            <td>
                <a href="~/files/@item.Cv" download>Download CV</a>
                @*@Html.DisplayFor(modelItem => item.Cv)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
