@model IEnumerable<taskhaithem.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catpic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryname)
        </td>
        <td>
            <img width="50" style="align-items:center;" src="/imges/@Html.DisplayFor(modelItem => item.catpic)">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.categoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.categoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.categoryId })
        </td>
    </tr>
}

</table>
